@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    background-color: #5f2c82;
}

/* CONTAINER LOGIN */
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 250px;
    height: 500px;
    background-color: white;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* CONTAINER IMAGEM */
div#imagem {
    height: 40%;
    background-image: url(../imagens/imagem-praia.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h1 {
    font-size: 1.8em;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
}

/* CONTAINER FORMULÁRIO */
div#formulario {
    padding: 10px;
    font-size: 13px;
    text-align: justify;
}


p#input {
    border-radius: 10px;
    padding-left: 5px;
    color: white;
    margin-top: 5px;
    background-color: #5f2c82;
    padding-left: 5px;
}

#ipassword, #iemail {
    border-radius: 10px;
    padding: 10px;
    background-color: #94CFCD;
}

/* BOTÕES ENTRAR E ESQUECI SENHA */
.btn-bottom {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#btn-1 {
    background-color: #94CFCD;
}

#btn-1:hover {
    background-color: #49a09d;
}

#btn-2 {
    background-color: white;
    border: 1px solid #49a09d;
}

#btn-2:hover {
    background-color: #94CFCD;
}


