@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

/* CONTAINER LOGIN */
section#login {
    width: 250px;
    height: 520px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #00000073;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

/* CONTAINER IMAGEM */
div#imagem {
    display: block;
    height: 200px;
    background-image: url(../imagens/imagem-praia.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* DIV CAMPO */
div#campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    color: white;
    border-radius: 8px;
    margin: 5px 0px;
}

div#campo > input:focus-within {
    background-color: white;
}

/* ICONES EMAIL E SENHA */
div#campo > span {
    font-size: 1.6em;
    width: 40px;
    padding: 4px;
    transform: translateY(6px);
}

/* FORMULARIO EMAIL E SENHA */
div#campo > input {
    border-radius: 8px;
    background-color: #94CFCD;
    width: calc(100% - 45px);
    height: 100%;
    padding: 9px;
    font-size: 1em;
    transform: translateY(-2px);
 
}

/* CONTAINER FORMULÁRIO */
div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

/* BOTÕES ENTRAR E ESQUECI SENHA */
form > input[type=submit] {
    background-color: #49a09d;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: #94CFCD;
}

form > a.botao {
    border: 1px solid #49a09d;
    color: #49a09d;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1em;
    margin-top: 7px;
    border-radius: 5px;
    padding: 5px;
    height: 40px;
}

form > a.botao:hover {
    background-color: #94CFCD;
}

form > a.botao > span {
    font-size: 0.8em;
}



